*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
h1{
    text-align: center;
}

#cart-content{
    width: 92vw;
    padding:20px;
    margin: center;
    border:1px solid blue;
}
#cart-content>form{
    display: flex;
    flex-direction: column;
}
#refer{
    width: 200px;
    height:35px;
    padding: 5px;
}

table{
    border:1px solid blue;
    width: 100%;
    margin: center;
    padding:10px;
}
tbody>tr>td{
    padding:10px;
    text-align: center;
}
/* image of product row */
tr>td:nth-child(1){
    /* background-color; */
    /* border:1px solid blue; */
    /* width: 50%; */
    width: 10%;
}tr>td:nth-child(1)>img{
    /* background-color; */
    /* border:1px solid blue; */
    /* width: 50%; */
    width: 100%;
}

/* Name of the product row */
tr>td:nth-child(2){
    /* background-color: blue; */
    width: 50%;
    text-align: left;
}
/* Remove button */
#remove-btn{
    padding:10px;
    background-color: #fff;
}


/* Quantity */

#change-qty{
    font-size: 22px;
    width:80px;
    padding:10px 10px;
}