body{
    margin: 0px;
}
#container_id4{
    width:100%;
    height:185px;
    /* border: 1px dashed black; */
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-evenly;
    /* margin-top: 150px; */
}
.card_id4{
    width:18%;
    height: 185px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
}
.img_div_id4{
    width:100%;
    height: 142px;
    /* border: 1px solid black; */
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
p{
    text-align: center;
    font-size: 16px;
    margin: 14px;
    font-weight: 700;
}
/* @font-face {
    font-family: myFirstFont;
    src: url(Poppins-Black.ttf);
}
  
body {
    font-family: myFirstFont;
    color: darkgreen;
} */

 /* Not made responsive 
 @media all and (min-width: 360px) and (max-width: 640px) {
    #container_id4{
        width:500px;
        height:185px;
        border: 1px dashed black; 
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: space-evenly;
         margin-top: 150px; 
    }

  }  */