@font-face {
    font-family:Gilroy-Light ;
    src: url(Gilroy-Light-300.ttf);
}
@font-face {
    font-family:Ubuntu-Medium ;
    src: url(Ubuntu-Medium.ttf);
}
@font-face {
    font-family:Roboto-Regular ;
    src: url(Roboto-Regular.ttf);
}
@font-face {
    font-family:Roboto-Light ;
    src: url(Roboto-Light.ttf);
}