*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    line-height: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(88, 88, 88);
  
    
    /*------------ CART INFO------------ */
}
form{
    display: flex;
    flex-direction: column;
}
a{
    color: #ff95c2;
    cursor: pointer;
    font-size: 12px;
}
body{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}
tbody img {
    width: 120%;
    margin-right: 20px;
}

tbody p {
    font-size: small;
    width: 80%;
    margin-left: 20px;
    line-height: 30px;
}
#head> img{
    margin:auto;
    display: block;
    width: 35%;
    margin-top: 70px;
    margin-bottom: 30px;
    cursor: pointer;
}
#head{
text-align: center;
margin-bottom: 30px;

}
    

#overall-cart{
  width: 60%;
  padding-right: 30px;
}
input{
    padding: 9px;
    /* border-color: rgb(187, 183, 183); */
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid rgb(185, 183, 183);
}
h2{
    margin-top: 20px;
    /* margin-bottom: 10px; */
    font-size: 19px;
    font-weight: lighter;
}
#contact-info >p{
    margin-bottom: 20px;
}
#contact-info span{
    color: #ff95c2;
    cursor: pointer;

}
select{
    margin-bottom: 15px;
    padding: 12px;
}
#saveInfo{
    
    display: grid;
    cursor: pointer;
    

}

#getOrderUpdate{
    display: grid;
    cursor : pointer;
    


}
.checkbox{
    display: flex;
    
}
.checkbox label{
    line-height: normal;
    margin-left: 10px;
}

.checkbox+button{
    display: grid;
    font-size: 14px;
    border: transparent;
    padding: 15px 20px;
    background-color: 
    #616160;
    color: aliceblue;
    margin-left: 480px;
    border-radius: 7px;
    margin-bottom: 30px;
    cursor: pointer;
}

/* --------------CART PAYMENT------------------ */

#cart{
    
   border-left: 1px solid rgb(196, 196, 196);
    width: 40%;
    background-color: #fafafa;
    padding-left: 30px;
    padding-right: 5px;
}
#cart>h2{
    margin-top: 80px;
    margin-bottom: 30px;
}

button{
    background-color:
    #c8c8c8;
    color:white;
    padding: 10px 20px;
    border: transparent;
    border-radius: 6px;
    margin-left: 10px;
    font-size: 16px;
}
#discout-code{
    margin-top: 20px;
    padding-right: 140px;
    margin-top: 20px;
}
#sub-total>div{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    
    
}
h2 span{
    color: #ff95c2;
    cursor: pointer;
}
#total {
margin-top: 20px;
display: flex;
justify-content: space-between;
}
#total>div>p+p{
    font-size: small;
}

.bold{
    font-weight: bolder;
    font-size: 22px;
}